In [13]:
import pandas as pd

csv_path = "Condensed_Housing_Data.csv"
housing_df = pd.read_csv(csv_path)
housing_df.head()

,City,Homes Sold,Inventory,Median List Ppsf,Median List Price,Median Sale Price,New Listings,Period Begin,Period Duration,Period End,Property Type,Region,Sold Above List,State,State Code
0,Chicago,2098,10078,173.937390,249900.0,$215K,2887,1/1/16,30,1/31/16,All Residential,"Chicago, IL",0.216500,Illinois,IL
1,Chicago,1876,10969,202.984039,283450.0,$225K,4130,2/1/16,30,2/29/16,All Residential,"Chicago, IL",0.221748,Illinois,IL
2,Chicago,2393,11762,206.761539,289900.0,$250K,4835,3/1/16,30,3/31/16,All Residential,"Chicago, IL",0.264632,Illinois,IL
3,Chicago,2908,12285,206.491063,285000.0,$270K,4809,4/1/16,30,4/30/16,All Residential,"Chicago, IL",0.274759,Illinois,IL
4,Chicago,3204,12723,198.412868,284450.0,$285K,4778,5/1/16,30,5/31/16,All Residential,"Chicago, IL",0.265918,Illinois,IL