In [14]:
import pandas as pd

csv_path = "HousingDataFinal.csv"
housing_df = pd.read_csv(csv_path)
housing_df.head()

,City,Homes Sold,Inventory,Median Dom,Median List Price,Median Sale Price,New Listings,Period Begin,Period Duration,Period End,Region,State,State Code
0,San Diego,895,2365,36,525000.0,$493K,1396,1/1/16,30,1/31/16,"San Diego, CA",California,CA
1,Denver,870,1770,45,350000.0,$317K,1059,1/1/16,30,1/31/16,"Denver, CO",Colorado,CO
2,"Washington, DC",515,1320,35,489000.0,$470K,689,1/1/16,30,1/31/16,"Washington, DC",Columbia,DC
3,Chicago,2098,10078,86,249900.0,$215K,2887,1/1/16,30,1/31/16,"Chicago, IL",Illinois,IL
4,Dallas,736,2687,41,324900.0,$247K,1299,1/1/16,30,1/31/16,"Dallas, TX",Texas,TX