In [3]:
import pandas as pd

csv_path = "Housing_Data.csv"
housing_df = pd.read_csv(csv_path)
housing_df.head()

,Worksheet Filter,Measure Display,Number of Records,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,City,Homes Sold,Homes Sold Mom,Homes Sold Yoy,...,Price Drops Yoy,Property Type,Region,Region Type,Sold Above List,Sold Above List Mom,Sold Above List Yoy,State,State Code,Table Id
0,Value,NaN,1,0.968704,0.00%,-0.10%,Chicago,2098,-15.20%,17.10%,...,-0.027466,All Residential,"Chicago, IL",place,0.216500,-0.004600,-0.004047,Illinois,IL,29470
1,Value,NaN,1,0.970827,0.20%,0.40%,Chicago,1876,-10.60%,7.40%,...,0.006153,All Residential,"Chicago, IL",place,0.221748,0.005249,-0.004483,Illinois,IL,29470
2,Value,NaN,1,0.980057,0.90%,0.80%,Chicago,2393,27.60%,0.80%,...,-0.010796,All Residential,"Chicago, IL",place,0.264632,0.042884,0.019794,Illinois,IL,29470
3,Value,NaN,1,0.986222,0.60%,1.00%,Chicago,2908,21.50%,2.10%,...,-0.020883,All Residential,"Chicago, IL",place,0.274759,0.010127,0.026956,Illinois,IL,29470
4,Value,NaN,1,0.983040,-0.30%,0.10%,Chicago,3204,10.20%,-1.90%,...,-0.007571,All Residential,"Chicago, IL",place,0.265918,-0.008842,0.001986,Illinois,IL,29470